@import "../abstract/variables";
@import "../abstract/mixins";

.banner {
  max-width: 83.33%;
  @include flex-container(row, flex-start, center);
  margin-left: 10%;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;

  &__left {
    width: 40%;
    text-align: left;

    h1 {
      font-weight: 700;
      font-size: 50px;
      background: linear-gradient(to right, $secondary-color, $secondary-dark);
      -webkit-background-clip: text;
      color: transparent;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards 0.2s;
    }

    h4 {
      width: 80%;
      font-size: 1.5em;
      font-weight: 500;
      line-height: 22px;
      color: $primary-color;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards 0.4s;
    }

    .banner__buttons {
      margin-top: 20px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards 0.6s;

      .btn {
        padding: 15px 30px;
        margin-right: 10px;
        transition: all 0.3s ease;
        border: 1px solid $secondary-color;
        border-radius: 30px;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 4px 15px rgba($secondary-dark, 0.4);
        }

        &.btn-outline:hover {
          background: $secondary-color;
          color: $tertiary-color;
        }

        &-outline{
          background: $secondary-color;
          color: $tertiary-color;

          &:hover {
            background: $tertiary-color;
            color: $secondary-color;
          }
        }
      }
    }


      .banner__social {
      @include flex-container(row, left, flex-start);
      gap: 10px;
      margin-top: 40px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards 0.8s;

      .btn {
        padding: 7px;
        font-size: 16px;
        transition: all 0.3s ease;

        &:hover {
          transform: rotate(10deg) scale(1.1);
          background: $secondary-dark;
          color: $tertiary-color;
        }
      }
    }
  }

  &__right {
    width: 55%;
    position: relative;

    .banner__image {
      position: relative;
      width: 67%;
      height: 65vh;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      opacity: 0;
      transform: translateY(30px);
      animation: fadeUp 1s ease forwards 1s;

      &::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 92vh;
        left: 5%;
        top: -122px;
        z-index: -1; //  debajo del contenido
        background: linear-gradient(to right top, $secondary-color, $secondary-dark);
        opacity: 0.85;
      }

      &::before {
        content: "";
        position: absolute;
        top: 260px;
        left: -100px;
        width: 50px;
        height: 50px;
        border-radius: 80px;
        border: 40px solid lighten($secondary-color, 35%);
        opacity: 0.6;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 0;
        transition: transform 0.5s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
  }
}

// Animations
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Responsive tablet
@include tablet {
   .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__left {
      order: 2; //  el texto debajo
      padding: 2rem;
      width: 80%;
      text-align: center;
      h1 {
        font-size: 1.6rem;
        color: $tertiary-color; //  texto blanco en m贸viles
        background: none;
      }
      h4 {
        width: 100%;
        font-size: 1rem;
        color: $tertiary-color; //  texto blanco en m贸viles
      }

      .banner__buttons {
        order: 3; //  los botones debajo
        width: 100%;
        @include flex-container(row, center, center);
        gap: 10px;
        text-align: center;

        button {
          padding: 1rem 1rem;
          font-size: 0.75rem;
          border: none;
          border-radius: 5px;
          background: $tertiary-color;
          color: $secondary-color;
          font-weight: 500;
          border-radius: 30px;
          cursor: pointer;

          &:hover {
            background: darken($primary-color, 10%);
          }
        }

      }

      
        .banner__social {
          order: 4; //  los iconos sociales debajo
          margin-top: 1rem;

          @include flex-container(row, center, center);
          gap: 10px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $secondary-color;
            color: #fff;
            transition: background 0.3s;

            &:hover {
              background: darken($secondary-color, 10%);
            }
          }
        }

      
    }

    &__right {
      order: 1; //  la imagen arriba
      width: 100%;

      .banner__image {
        width: 90%;
        height: auto;
        margin: 0 auto;

        &::after {
          top: 0;
          height: 80vh;
          left: 0;
          width: 100%;
          z-index: -1; //  queda por debajo
        }
      }
    }
  }
}

// Responsive mobile
@include mobile {
  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__left {
      order: 2; //  el texto debajo
      padding: 2rem;
      width: 80%;
      text-align: center;
      h1 {
        font-size: 1.6rem;
        color: $tertiary-color; //  texto blanco en m贸viles
        background: none;
      }
      h4 {
        width: 100%;
        font-size: 1rem;
        color: $tertiary-color; //  texto blanco en m贸viles
      }

      .banner__buttons {
        order: 3; //  los botones debajo
        width: 100%;
        @include flex-container(row, center, center);
        gap: 10px;
        text-align: center;

        .btn {
          padding: 1rem 1rem;
          font-size: 0.75rem;
          border: none;
          border-radius: 5px;
          background: $tertiary-color;
          color: $secondary-color;
          font-weight: 500;
          border-radius: 30px;
          cursor: pointer;

          &:hover {
            background: darken($primary-color, 10%);
          }
        }

      }

      
        .banner__social {
          order: 4; //  los iconos sociales debajo
          margin-top: 1rem;

          @include flex-container(row, center, center);
          gap: 10px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $secondary-color;
            color: #fff;
            transition: background 0.3s;

            &:hover {
              background: darken($secondary-color, 10%);
            }
          }
        }

      
    }

    &__right {
      order: 1; //  la imagen arriba
      width: 100%;

      .banner__image {
        width: 90%;
        height: auto;
        margin: 0 auto;

        &::after {
          top: 0;
          height: 150vw;
          left: 0;
          width: 100%;
          z-index: -1; //  queda por debajo
        }
      }
    }
  }
}
